#Sidebar {
  background-color: #040404;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#Sidebar #expanded {
  position: absolute;
  height: 100%;
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: #040404;
  border-right: 1px solid #2a2a2e;
}

#Sidebar #retracted {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #2a2a2e;
}

#Sidebar #taglify_logo_container {
  width: calc(100% + 50px);
  height: 60px;
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

#Sidebar #taglify_logo_container #content {
  width: 100%;
  padding-left: 20px;
  background-color: #1bac4e;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

#Sidebar #triangle {
  fill: #1bac4e;
  stroke-width: 1;
}

#Sidebar .navigation_option_row {
  width: calc(100% - 5px);
  display: flex;
  color: white;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
}

#Sidebar .navigation_option_row.selected_border {
  border-left: 5px solid #1bac4e;
}

#Sidebar .navigation_option_row.unselected_border {
  border-left: 5px solid black;
}

#Sidebar .navigation_option_row.unselected_border:hover {
  border-left: 5px solid #2a2a2e;
}

#Sidebar .navigation_option_row:hover {
  background-color: #0c0c0d;
  cursor: pointer;

}

#Sidebar .navbar_icon {
  margin: 0px 40px;
}

#Sidebar  #playlist_icon {
  font-size: 3.3em;
}
