#App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #0c0c0d;
}

#App #sidebar_container {
  width: 120px;
  height: 100%;
}

#App #page_container {
  width: calc(100% - 120px);
  height: 100%;
}
